@mixin demo-styles($scale: 1) {
  background-color: white;
  padding: 10px * $scale;
  position: relative;
  margin-top: 10px;
  overflow: hidden;

  @if ($scale == 1) {
    height: 400px;
  } @else {
    height: 600px;
  }

  .demo__logo {
    background-color: #C1C1C1;
    margin: 0 auto;
    width: 30px * $scale;
    height: 30px * $scale;
  }

  .demo__intro {
    margin: 10px * $scale 10px * $scale 0;
    width: 100%;
  }

  .demo__line {
    height: 6px * $scale;
    background-color: #C1C1C1;
  }

  .demo__line + .demo__line {
    margin-top: 6px * $scale;
  }

  .demo__line-1 {
    width: 70%;
  }

  .demo__line-2 {
    width: 80%;
  }

  .demo__line-3 {
    width: 30%;
  }

  .demo__list {
    margin-top: 10px * $scale;
  }

  .demo__item {
    background-color: #C1C1C1;
    margin-bottom: 10px * $scale;
  }

  .demo__item-pic {
    height: 100px * $scale;
    padding: 10px * $scale;
    background-color: #FF9500;
    font-size: 16px * $scale;
  }

  .demo__item-content {
    height: 100px * $scale;
  }

  &[middle] {
    .demo__logo {
      margin: 0;
    }

    .demo__intro {
      margin: 0;
      padding-left: 60px * $scale;
      position: absolute;
      right: 10px * $scale;
      top: 10px * $scale;
    }

    .demo__item-pic {
      width: 100px * $scale;
      float: left;
    }
  }

  &[wide] {
    .demo__list {
      margin-right: -30px * $scale;
    }

    .demo__item {
      float: left;
      margin-right: 10px * $scale;
    }

    .demo__item-pic {
      width: 140px * $scale;
      float: none;
    }

    .demo__item--feature {
      width: auto;
      float: none;
      margin-right: 30px * $scale;

      .demo__item-pic {
        float: left;
        width: 100px * $scale;
      }
    }
  }
}

.demo__container {
}

.demo__container--mobile {
  @include demo-styles(1);
}

.demo__container--desktop {
  @include demo-styles(2);
  display: none;
}

@include minWith900px {
  .demo__container--mobile {
    display: none;
  }

  .demo__container--desktop {
    display: block;
  }
}
