@mixin base-btn() {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
}

.example {
  margin-top: 20px;
  margin-bottom: 20px;
}

.example__btn-group {
  .example__btn {
    display: block;
    margin-bottom: 10px;
  }
}

.example__btn {
  @include base-btn;
}
