.page {
  background-color: $orange;
  min-height: 90vh;
  padding: 30px $page-padding $page-padding;
  overflow: hidden;

  &.page-hero {
    padding-top: $page-padding;
  }

  &-2 {
    background-color: $orange-red;
  }

  &-7 {
    background-color: $white;
    color: black;
  }

  @include minWith600px {
    padding: 50px;
  }
}

.page-h1 {
  color: black;

  &--highlight {
    color: white;
  }
}

.page-list {
  padding-left: 30px;
  margin-top: 10px;
  margin-bottom: 20px;

  @include minWith600px {
    padding-left: 40px;
  }

  @include minWith900px {
    padding-left: 50px;
  }
}

.page-list-item {
  list-style: disc;
  font-size: 20px;
  line-height: 1.5;

  @include minWith600px {
    font-size: 25px;
  }

  @include minWith900px {
    font-size: 30px;
  }
}

.vertical-center-container {
  &::before {
    content: '';
    display: inline-block;
    height: calc(90vh - #{2 * $page-padding});
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }
}

.vertical-center-child {
  display: inline-block;
  vertical-align: middle;
}
