.page {
  background-color: $orange;
  min-height: 100vh;
  padding: 30px $page-padding $page-padding;
  overflow: hidden;

  &.page-hero {
    padding-top: $page-padding;
  }

  &-2 {
    background-color: $orange-red;
  }

  &-7 {
    background-color: $white;
    color: black;
  }
}

.page-h1 {
  color: black;

  &--highlight {
    color: white;
  }
}

.page-list {
  padding-left: 25px;
  margin-top: 10px;
}

.page-list-item {
  list-style: initial;
  font-size: 20px;
  line-height: 1.5;
}

.vertical-center-container {
  &::before {
    content: '';
    display: inline-block;
    height: calc(100vh - #{2 * $page-padding});
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }
}

.vertical-center-child {
  display: inline-block;
  vertical-align: middle;
}
