@import './reset.scss';

$bg-dark: #202020;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: white;
}

h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}

p {
  font-size: 16px;
  line-height: 1.4;
}

code {
  font-family: Inconsolata, monospace;
  font-size: 16px;
  line-height: 1.3;
}

.vertical-center-container {
  &::before {
    content: '';
    display: inline-block;
    height: calc(100vh - 80px);
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }
}

.vertical-center-child {
  display: inline-block;
  vertical-align: middle;
}

.slide {
  background-color: #FF9500;
  min-height: 100vh;
  padding: 15px;
  overflow: hidden;

  &-2 {
    background-color: #FF5E3A;
  }
}

.slide-h1 {
  color: $bg-dark;

  &--highlight {
    color: white;
  }
}

.slide-content {
  margin-top: 10px;
}

.slide-code-block {
  margin-top: 10px;
  color: yellow;
}

.example {
  margin-top: 10px;
}

.example__btn-group {

}

.example__btn {
}

@import './demo.scss';
