html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: white;
  line-height: 1.3;
}

h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
}

@media (min-width: 600px) {
  h1 {
    font-size: 70px;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 90px;
  }
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 20px;
}

@media (min-width: 600px) {
  h2 {
    font-size: 50px;
  }
}

@media (min-width: 900px) {
  h2 {
    font-size: 70px;
  }
}

p {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 10px;
}

@media (min-width: 600px) {
  p {
    font-size: 25px;
  }
}

@media (min-width: 900px) {
  p {
    font-size: 30px;
  }
}

pre {
  margin-bottom: 10px;
}

code {
  font-family: Inconsolata, monospace;
  font-size: 18px;
  line-height: 1.2;
  color: #FFF03F;
}

@media (min-width: 600px) {
  code {
    font-size: 22px;
  }
}

@media (min-width: 900px) {
  code {
    font-size: 26px;
  }
}

a {
  color: #1669C3;
  text-decoration: underline;
}

.page {
  background-color: #FF9500;
  min-height: 100vh;
  padding: 30px 15px 15px;
  overflow: hidden;
}

.page.page-hero {
  padding-top: 15px;
}

.page-2 {
  background-color: #FF5E3A;
}

.page-7 {
  background-color: #E4DDCA;
  color: black;
}

@media (min-width: 600px) {
  .page {
    padding: 50px;
  }
}

.page-h1 {
  color: black;
}

.page-h1--highlight {
  color: white;
}

.page-list {
  padding-left: 25px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.page-list-item {
  list-style: initial;
  font-size: 20px;
  line-height: 1.5;
}

@media (min-width: 600px) {
  .page-list-item {
    font-size: 25px;
  }
}

@media (min-width: 900px) {
  .page-list-item {
    font-size: 30px;
  }
}

.vertical-center-container::before {
  content: '';
  display: inline-block;
  height: calc(100vh - 30px);
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}

.vertical-center-child {
  display: inline-block;
  vertical-align: middle;
}

.example {
  margin-top: 20px;
  margin-bottom: 20px;
}

.example__btn-group .example__btn {
  display: block;
  margin-bottom: 10px;
}

@media (min-width: 600px) {
  .example__btn-group .example__btn {
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
  }
}

@media (min-width: 900px) {
  .example__btn-group .example__btn {
    font-size: 24px;
  }
}

.example__btn {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.demo__container--mobile {
  background-color: white;
  padding: 10px;
  position: relative;
  margin-top: 10px;
  overflow: hidden;
  height: 400px;
}

.demo__container--mobile .demo__logo {
  background-color: #C1C1C1;
  margin: 0 auto;
  width: 30px;
  height: 30px;
}

.demo__container--mobile .demo__intro {
  margin: 10px 10px 0;
  width: 100%;
}

.demo__container--mobile .demo__line {
  height: 6px;
  background-color: #C1C1C1;
}

.demo__container--mobile .demo__line + .demo__line {
  margin-top: 6px;
}

.demo__container--mobile .demo__line-1 {
  width: 70%;
}

.demo__container--mobile .demo__line-2 {
  width: 80%;
}

.demo__container--mobile .demo__line-3 {
  width: 30%;
}

.demo__container--mobile .demo__list {
  margin-top: 10px;
}

.demo__container--mobile .demo__item {
  background-color: #C1C1C1;
  margin-bottom: 10px;
}

.demo__container--mobile .demo__item-pic {
  height: 100px;
  padding: 10px;
  background-color: #FF9500;
  font-size: 16px;
}

.demo__container--mobile .demo__item-content {
  height: 100px;
}

.demo__container--mobile[middle] .demo__logo {
  margin: 0;
}

.demo__container--mobile[middle] .demo__intro {
  margin: 0;
  padding-left: 60px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.demo__container--mobile[middle] .demo__item-pic {
  width: 100px;
  float: left;
}

.demo__container--mobile[wide] .demo__list {
  margin-right: -30px;
}

.demo__container--mobile[wide] .demo__item {
  float: left;
  margin-right: 10px;
}

.demo__container--mobile[wide] .demo__item-pic {
  width: 140px;
  float: none;
}

.demo__container--mobile[wide] .demo__item--feature {
  width: auto;
  float: none;
  margin-right: 30px;
}

.demo__container--mobile[wide] .demo__item--feature .demo__item-pic {
  float: left;
  width: 100px;
}

.demo__container--desktop {
  background-color: white;
  padding: 20px;
  position: relative;
  margin-top: 10px;
  overflow: hidden;
  height: 600px;
  display: none;
}

.demo__container--desktop .demo__logo {
  background-color: #C1C1C1;
  margin: 0 auto;
  width: 60px;
  height: 60px;
}

.demo__container--desktop .demo__intro {
  margin: 20px 20px 0;
  width: 100%;
}

.demo__container--desktop .demo__line {
  height: 12px;
  background-color: #C1C1C1;
}

.demo__container--desktop .demo__line + .demo__line {
  margin-top: 12px;
}

.demo__container--desktop .demo__line-1 {
  width: 70%;
}

.demo__container--desktop .demo__line-2 {
  width: 80%;
}

.demo__container--desktop .demo__line-3 {
  width: 30%;
}

.demo__container--desktop .demo__list {
  margin-top: 20px;
}

.demo__container--desktop .demo__item {
  background-color: #C1C1C1;
  margin-bottom: 20px;
}

.demo__container--desktop .demo__item-pic {
  height: 200px;
  padding: 20px;
  background-color: #FF9500;
  font-size: 32px;
}

.demo__container--desktop .demo__item-content {
  height: 200px;
}

.demo__container--desktop[middle] .demo__logo {
  margin: 0;
}

.demo__container--desktop[middle] .demo__intro {
  margin: 0;
  padding-left: 120px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.demo__container--desktop[middle] .demo__item-pic {
  width: 200px;
  float: left;
}

.demo__container--desktop[wide] .demo__list {
  margin-right: -60px;
}

.demo__container--desktop[wide] .demo__item {
  float: left;
  margin-right: 20px;
}

.demo__container--desktop[wide] .demo__item-pic {
  width: 280px;
  float: none;
}

.demo__container--desktop[wide] .demo__item--feature {
  width: auto;
  float: none;
  margin-right: 60px;
}

.demo__container--desktop[wide] .demo__item--feature .demo__item-pic {
  float: left;
  width: 200px;
}

@media (min-width: 900px) {
  .demo__container--mobile {
    display: none;
  }
  .demo__container--desktop {
    display: block;
  }
}
