.container {
  padding: 20px;
}

.box {
  height: 100px;
  background-color: red;
}

.container[middle] .box {
  background-color: green;
}

.container[wide] .box {
  background-color: blue;
}

.container-perf {
  float: left;
  width: 50%;
}

.container-perf[middle] .box {
  background-color: green;
}

.container-perf[wide] .box {
  background-color: blue;
}
