.container {
  padding: 20px;
}

.box {
  height: 100px;
  background-color: red;
}

.container[width_between_400_and_599] .box {
  background-color: green;
}

.container[width_larger_than_600] .box {
  background-color: blue;
}

.container-perf {
  float: left;
  width: 50%;
}

.container-perf[width_between_400_and_599] .box {
  background-color: green;
}

.container-perf[width_larger_than_600] .box {
  background-color: blue;
}
